#container {
  width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, Verdana, Sans-serif;
  font-size: 13px;
  padding-top: 15px;
}
#container h1 {
  text-align: center;
}
#container h4 {
  color: #333;
  font-size: 13px;
}
#container .square-box,
#container .reset {
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #eee;
  background-image: linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -o-linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #eee),
    color-stop(1, #fff)
  );
  float: left;
  height: 30px;
  line-height: 30px;
  width: 30px;
  margin-left: 10px;
  border: 1px solid #999;
  text-align: center;
  font-size: 20px;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}
#container .reset {
  width: 75px;
}
#container .square-box:hover,
#container .reset:hover {
  background-color: #f2f2f2;
  background-image: linear-gradient(bottom, #f2f2f2 0, #fff 100%);
  background-image: -o-linear-gradient(bottom, #f2f2f2 0, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #f2f2f2 0, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #f2f2f2 0, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #f2f2f2 0, #fff 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #f2f2f2),
    color-stop(1, #fff)
  );
  border-color: #888;
  color: #333;
}
#container .square-box.selected {
  background-color: #222;
  background-image: linear-gradient(bottom, #222 0, #444 100%);
  background-image: -o-linear-gradient(bottom, #222 0, #444 100%);
  background-image: -moz-linear-gradient(bottom, #222 0, #444 100%);
  background-image: -webkit-linear-gradient(bottom, #222 0, #444 100%);
  background-image: -ms-linear-gradient(bottom, #222 0, #444 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #222),
    color-stop(1, #444)
  );
  border-color: #222;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
#container input[type="text"] {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  border: 1px solid #999;
  background-color: #fff;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}
#container input[type="text"]:focus {
  -moz-box-shadow: 0 0 10px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 10px rgba(82, 168, 236, 0.6);
  outline: 0;
  border: 1px solid rgba(82, 168, 236, 0.8);
}
#container .clear {
  clear: both;
}
#container .status {
  padding: 20px 0;
  color: #999;
}
#container .status a {
  color: #666;
  text-decoration: none;
}
#container .status a:hover {
  text-decoration: underline;
}
#container #builder {
  float: left;
  width: 480px;
  padding: 0 10px;
}
#container #builder #bonus-container {
  height: 30px;
  position: relative;
}
#container #builder #bonus-container .bonus-position.selected {
  font-size: 14px;
}
#container #builder #bonus-container #bonus-type-container {
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 10px #bbb;
  box-shadow: 0 0 10px #bbb;
  background-color: #eee;
  background-image: linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -o-linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #eee 0, #fff 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #eee),
    color-stop(1, #fff)
  );
  display: none;
  position: absolute;
  top: -8px;
  left: 2px;
  width: 42px;
  height: 42px;
  padding: 2px;
  border: 1px solid #888;
}
#container #builder #bonus-container #bonus-type-container .bonus-type {
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: left;
  height: 21px;
  width: 21px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  color: #333;
  cursor: pointer;
}
#container #builder #bonus-container #bonus-type-container .bonus-type:hover {
  background-color: #333;
  color: #fff;
}
#container #builder #tray-container #tray {
  padding-left: 3px;
  width: 190px;
}
#container #builder .results .word-only,
#container #builder .results .word-score {
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #ddd;
  background-image: linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -o-linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -moz-linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -webkit-linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -ms-linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #ddd),
    color-stop(1, #eee)
  );
  float: left;
  margin: 10px 0 0 10px;
  border: 1px solid #bbb;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
#container #builder .results .word-score {
  padding: 0 5px 0 7px;
}
#container #builder .results .word-score .score,
#container #builder .results .word-score .word {
  float: left;
  height: 30px;
  line-height: 30px;
}
#container #builder .results .word-score .score {
  padding-right: 7px;
  border-right: 1px solid #ccc;
  letter-spacing: 0;
}
#container #builder .results .word-score .word {
  padding-left: 5px;
  border-left: 1px solid #f5f5f5;
}
#container #solver {
  float: left;
  width: 480px;
  padding: 0 10px;
}
#container #solver #word-length-container {
  height: 30px;
}
#container #solver #solver-slots input {
  text-align: center;
  width: 30px;
}
#container #solver #list-words {
  color: #369;
  cursor: pointer;
}
#container #solver #list-words:hover {
  text-decoration: underline;
}
#container #solver #list-of-words {
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  color: #777;
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
}
#container #solver .results .letter-prob {
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #ddd;
  background-image: linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -o-linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -moz-linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -webkit-linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -ms-linear-gradient(bottom, #ddd 0, #eee 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #ddd),
    color-stop(1, #eee)
  );
  float: left;
  margin: 10px 0 0 10px;
  border: 1px solid #bbb;
  height: 65px;
  width: 56px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
#container #solver .results .letter-prob .letter {
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid #ccc;
}
#container #solver .results .letter-prob .prob {
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-top: 1px solid #f5f5f5;
}
#container #solver .results .letter-prob:not(.known):hover,
#container #solver .results .letter-prob.suggested:hover {
  background-color: #900;
  background-image: linear-gradient(bottom, #900 0, #c22 100%);
  background-image: -o-linear-gradient(bottom, #900 0, #c22 100%);
  background-image: -moz-linear-gradient(bottom, #900 0, #c22 100%);
  background-image: -webkit-linear-gradient(bottom, #900 0, #c22 100%);
  background-image: -ms-linear-gradient(bottom, #900 0, #c22 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #900),
    color-stop(1, #c22)
  );
  border-color: #700;
  text-shadow: 0 -1px 0 #700;
}
#container #solver .results .letter-prob:not(.known):hover .letter,
#container #solver .results .letter-prob.suggested:hover .letter {
  color: #fff;
  border-bottom: 1px solid #700;
}
#container #solver .results .letter-prob:not(.known):hover .prob,
#container #solver .results .letter-prob.suggested:hover .prob {
  color: #fff;
  border-top: 1px solid #c22;
}
#container #solver .results .letter-prob.strike:not(.known) {
  background-color: #111;
  background-image: linear-gradient(bottom, #111 0, #444 100%);
  background-image: -o-linear-gradient(bottom, #111 0, #444 100%);
  background-image: -moz-linear-gradient(bottom, #111 0, #444 100%);
  background-image: -webkit-linear-gradient(bottom, #111 0, #444 100%);
  background-image: -ms-linear-gradient(bottom, #111 0, #444 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #111),
    color-stop(1, #444)
  );
  border-color: #000;
  text-shadow: 0 -1px 0 #000;
  opacity: 0.25;
}
#container #solver .results .letter-prob.strike:not(.known) .letter {
  color: #fff;
  border-bottom: 1px solid #000;
  text-decoration: line-through;
}
#container #solver .results .letter-prob.strike:not(.known) .prob {
  color: #fff;
  border-top: 1px solid #444;
}
#container #solver .results .letter-prob.strike:not(.known):hover {
  opacity: 1;
}
#container #solver .results .letter-prob.known {
  opacity: 0.5;
  cursor: default;
}
#container #solver .results .letter-prob.suggested {
  background-color: #090;
  background-image: linear-gradient(bottom, #090 0, #2c2 100%);
  background-image: -o-linear-gradient(bottom, #090 0, #2c2 100%);
  background-image: -moz-linear-gradient(bottom, #090 0, #2c2 100%);
  background-image: -webkit-linear-gradient(bottom, #090 0, #2c2 100%);
  background-image: -ms-linear-gradient(bottom, #090 0, #2c2 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #090),
    color-stop(1, #2c2)
  );
  border-color: #070;
  text-shadow: 0 -1px 0 #070;
}
#container #solver .results .letter-prob.suggested .letter {
  color: #fff;
  border-bottom: 1px solid #070;
  font-weight: bold;
}
#container #solver .results .letter-prob.suggested .prob {
  color: #fff;
  border-top: 1px solid #2c2;
}
#container #footer {
  clear: both;
  padding: 50px 0;
}
#container #footer p {
  text-align: center;
  color: #999;
}
#container #footer p a {
  text-decoration: none;
  color: #789;
}
#container #footer p a:hover {
  text-decoration: underline;
  color: #567;
}
